#mainBody {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#mainBody #inputField {
    width: 600px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1.5px solid rgb(213, 213, 213);
    position: relative;
    top: -30px; 
}

#inputField > i {
    font-size: 20px;
    color: #777;
}

#inputField > input {
    flex: 1;
    height: 40px;
    width: 515px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}


#mainBody #inputField:hover {
    box-shadow: 0 0 5px grey;
    background-color: white;
}

#inputField {
    position: relative;
    top: 7px;
}

#container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 560px;
    height: 10px;
    margin-top: -40px;
}

#container div {
    align-items: center;
    margin: 10px;
    margin-top: 40px;
}

.buttons {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

#btn1, #btn2 {
    border: none;
    background-color: #f8f9fa;
}

#btn1:hover, #btn2:hover {
    box-shadow: 0 0 5px grey;
    background-color: rgb(243, 240, 240);
}

a.hover:hover {
    text-decoration: underline;
}
